<div id="<%= dom_id garden_entry %>">
  <div>
    <strong>Entry date:</strong>
    <%= garden_entry.entry_date %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= garden_entry.body %>
  </div>

</div>
